venv/ 
.env 

# Ignorar todos os arquivos CSV gerados pela raspagem
*.csv
*.log

# Ignorar a lista de URLs coletadas (opcional, mas recomendado para manter o repositório limpo)
*.txt

#ignorar arquivos do ocultos do MAC
*.DS_Store

# Ignorar pastas automáticas do Python e do Selenium
__pycache__/
.pytest_cache/
.vscode/
